aiohttp==3.2.1
async-timeout==3.0.0
certifi==2018.4.16
chardet==3.0.4
discord.py==0.16.12
futures==3.1.1
goslate==1.5.1
idna==2.6
multidict==4.3.1
packaging==17.1
pyparsing==2.2.0
requests==2.18.4
six==1.11.0
urllib3==1.22
websockets==4.0.1
yarl==1.2.4
